/* stylelint-disable declaration-no-important, scss/selector-no-redundant-nesting-selector */

$enable-deprecation-messages: false !default;

@import "@coreui/coreui/scss/functions";
@import "@coreui/coreui/scss/variables";
@import "@coreui/coreui/scss/mixins";

.example {


  .tab-content {
    background-color: var(--#{$prefix}tertiary-bg);
  }


  // Components examples
  .preview {
    


    > .dropdown-menu {
      position: static;
      display: block;
    }

  

  
    // Navbars


    // Pagination
    .pagination {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }


  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .example .tab-content {
      background-color: var(--#{$prefix}secondary-bg) !important;
    }
  }
}